// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-title {
  color: var(--site-title-color);
}

.site-nav {
  color: var(--site-title-color)
 }

 .site-nav .page-link {
  color: var(--site-nav);
 }

.site-title:visited {
  color: var(--site-title-color)
}

body {
background-color: var(--background-color);
color: var(--text-color);
}

a {
color: var(--link-base-color);
}

a:visited {
  color: var(--link-visited-color)
}

a:hover {
  color: var(--link-hover-color)
}

article {
max-width: 650px; 
margin: 2em auto;
}

