html, html[data-theme="light"] {
    --site-title-color: rgb(0, 0, 0);
    --background-color: hsl(0, 0%, 100%);
    --link-hover-color: hsl(0, 48%, 47%);
    --link-visited-color: hsl(0, 48%, 43%);
    --link-base-color: #000;
    --site-nav: rgb(0, 0, 0);
    --text-color: #000;
    }
    
    html[data-theme="dark"] {
        --site-title-color: #fff;
        --background-color: #121212;
        --text-color: #ffffff;
        --link-hover-color: #c23737;
        --link-visited-color: #a23939;
        --link-base-color: #ffffff;
        --site-nav: #fff;
        --text-color: #fff;
    }
    
    @media (prefers-color-scheme: dark) {
        html, html[data-theme="dark"] {
            --site-title-color: #fff;
            --background-color: #121212;
            --text-color: #ffffff;
            --link-hover-color: #c23737;
            --link-visited-color: #a23939;
            --link-base-color: #ffffff;
            --site-nav: #fff;
            --text-color: #fff;
        }
    
        html[data-theme="light"] {
            --site-title-color: rgb(0, 0, 0);
            --background-color: hsl(0, 0%, 100%);
            --link-hover-color: hsl(0, 48%, 47%);
            --link-visited-color: hsl(0, 48%, 43%);
            --link-base-color: #000;
            --site-nav: rgb(0, 0, 0);
            --text-color: #000;
    }
    }